h1 {
    color: #3498db;
    text-transform: uppercase;
    text-align: center;
    padding: 60px;
}

h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

h3 {
    color: #3498db;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

body {
    background-color: #f7f6f8;
}


.box-1 {
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 1px solid #002c53;
    background: #568ec0;
    position: absolute;
    top: 280px;
    left: 25%;
    z-index: 1;
    color: #3498db;
}

.box-2 {
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 1px solid #002c53;
    background: #568ec0;
    position: absolute;
    top: 280px;
    right: 25%;
    z-index: 2;
    color: #3498db;
}

input[type = "button" i] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 20px;
    outline: none;
    color: #3498db;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    position: absolute;
    top: 70%;
    left: 48%;
}
    input[type = "button" i]:hover {
        background: #3498db;
        color:white;
    }

a {
    text-decoration: none;
}   

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}

