*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f7f6f8;
}

h1 {
    color: #3498db;
    text-transform: uppercase;
    text-align: center;
    padding: 10%;
}

div#footer {
    text-align: center;
    background-color: #f7f6f8;
    color: #3498db;
}

a {
    color: #3498db;
    text-decoration: none;
}


.form_box {
    width: 600px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form_box label{
    text-align: left;
    color: #3498db;
}

.form_box input[type = "text"], .form_box input[type = "password"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #3498db;
    border-radius: 24px;
    transition: 0.25s;
}

.form_box input[type = "text"]:focus, .form_box input[type = "password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.form_box input[type = "button"], .form_box input[type = "reset"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: #3498db;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.form_box input[type = "button"]:hover {
    background: #2ecc71;
}
