table {
	color: white;
	width: 280px;
	height: auto;
	padding: 10px;
	border: 1px solid #002c53;
    background-color: #3498db;
    border-spacing: 1em;
    margin: 0 auto 0 auto;
}

a {
	text-decoration: none;
}   

.titolo {
    color: #3498db;
    text-transform: uppercase;
	text-decoration: none;
    text-align: center;
}


.homelink {
	color: white;
}

thead {
	color: white;
}

.messaggio_no_prenotazione {
	color: black;
    text-align: center;
}


