{% extends "base.html" %}
{% block title %}
    <title>Prenota Vaccini-Covid19</title>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/style/effettua_prenotazione.css" />
{% endblock %}
{% block body %}
<div id="container">
    <div>
        <h1>Sistema Prenotazione Vaccini Covid-19</h1>
    </div>
    <div>
        <h2>Confermi la tua prenotazione?</h2>
    </div>
    <div>
        <input type="button" class="prenota" name="submit_button" value="Prenota!" onclick="Submit_prenotazione()">
    </div>
    <div>
        <input type="button" class="annulla" name="reset_button" value="Annulla" onclick="Back_Home()">
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="/static/script/effettua_prenotazione.js"></script>
{% endblock %}
