<!doctype html>
<html lang="it">


<head>
    <meta charset="UTF-8" />
    <title>Error Page</title>
    <link rel="icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/style/error.css" />

</head>


<body onload="logout_error()">
    <div id="container">
        <h1>!Fatal Error!</h1>
            <h3>
                Si e' verificato un errore imprevisto tornare alla schermata di
                <a href="/" class="loginlink">LOGIN</a>
            </h3>

    </div>
    <script src="/static/script/error.js"></script>
</body>

</html>
