{% extends "base.html" %}
{% block title %}
    <title>La tua prenotazione anti Covid19</title>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/style/visualizza_prenotazione.css" />
{% endblock %}
{% block body %}
    <body onload="visualizza_prenotazione()">
        <div>
        <a href="/" class="titolo"><h1>Sistema Prenotazione Vaccini anti Covid-19</h1></a>
        </div>  
        <div>
        <h1 id="messaggio_no_prenotazione" style="display:block;" class="messaggio_no_prenotazione">Non vi e' alcuna prenotazione</h1>
        </div>  
        <div>
        <table id="tabella_prenotazione" style="display:none;">
            <thead>
            <tr><td colspan="2"><h1>La tua prenotazione anti Covid-19</h1></td></tr>
            </thead>
            <tr><td><b>Data</b></td><td id="Data"></td></tr>
            <tr><td><b>Luogo</b></td><td id="Luogo"></td></tr>
            <tr><td><b>Codice Fiscale</b></td><td id="CodiceFiscale"></td></tr>
            <tr><td colspan="2"> </td><td></td></tr>
            <tr><td colspan="2"><a href="/" class="homelink">Torna alla home</a></td></tr>
        </table>
        </div>
    </body>
{% endblock %}
{% block script %}
    <script src="/static/script/visualizza_prenotazione.js"></script>
{% endblock %}
